body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    background-color: #95BDD7;
    flex-wrap: wrap;
    
}

.header {
    display: flex;
    flex-direction: column;
    row-gap: 18px;
    padding: 14px;
    margin: 10px;
}

.top {
    display: flex;
    justify-content: space-between;
    background-color: gray;
    padding: 14px;
    border-radius: 8px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    height: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

#imgLogo {
    height: 36px;
}

.bottom {
    display: flex;
    justify-content: center;
    padding: 14px;
}

#search {
    padding: 6px;
    width: 300px;
}

.mid {
    display: flex;
    flex-direction: column;
    row-gap: 10px; 
}

#sptxt {
    display: flex;
    justify-content: center;
    font-size: 28px;
    font-family: serif ,Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.products {
    display: flex;
    flex-direction: column; 
    row-gap: 10px;
    height: 800px;
    margin: 14px;
}

.top-products, .bottom-products {
    display: flex;
    flex-direction: row;
    row-gap: 10px;
    column-gap: 10px;
    height: 300px;
    justify-content: space-evenly;
    padding: 40px;
}

.prd {
    height: 80%;
}

.price {
    display: flex;
    justify-content: center;
    color: #000000;
}

.prod {
    display: flex;
    flex-direction: column;
    height: 80%;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 300px;
    height: 330px;
}

#storeName {
    font-size: 30px;
    font-family: serif ,Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.product-title {
    font-size: 12px;
    font-family: serif ,Arial, Helvetica, sans-serif;
    color: #000000;
    text-align: center;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: azure;
    margin: 14px;
    gap: 14px;
    background-color: gray;
}

.links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 140px;
    justify-content: space-around;
}

.newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 14px;
    margin-bottom: 14px;
}

#promo {
    color: #ffa30e;
}

.lnk {
    text-decoration: underline;
}

#sbscrb {
    margin-top: 6px;
    color: white;
    background-color: #ffa30e;
    border-style: none;
    border-radius: 8px;
}